html{
    padding: 0px;
    margin: 0px;
}

body{
    padding: 0px;
    margin: 0px;
}

.header{
    height: 60px;
    line-height: 60px;
    padding: 20px;
    background-color: lightcoral;
}

.header h1{
    float: left;
    margin: 0px;
}

.navigation{
    float: right;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navigation li{
    float: left;
    margin-left: 20px;
}

a {
    color: black;
    text-decoration: none;
}

.content{
    width: 70%;
    float: left;
    background-color: lightgray;
    min-height: 500px;
}

.sidebar{
    width: 30%;
    float: left;
    background-color: darkgray;
    color: white;
    min-height: 500px;
}

p {
    margin: 20px;
}

.blog-post{
    margin: 10px;
    background-color: white;
    border: 2px solid;
    border-color: lightgray;
    border-radius: 25px;
    padding: 10px;
}

.Pixel{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}